<DialogConfiguration xmlns="http://schemas.datacontract.org/2004/07/Core.Models" xmlns:i="http://www.w3.org/2001/XMLSchema-instance"><Pages><Page><IconId>1</IconId><Name>Machine</Name><Namespace>mach</Namespace><PropertyGroups><PropertyGroup><Name>General</Name><Namespace>mach</Namespace><Properties><Property><IconId>0</IconId><Name>Machine ID</Name><Namespace>mach</Namespace><Script i:nil="true"/><SystemId>MACHINE_ID</SystemId><Type>STRING</Type><VariableName i:nil="true"/></Property><Property><IconId>0</IconId><Name>machine</Name><Namespace>mach</Namespace><Script>default_value = "MyMachine XT 123"&#xD;
hint_text = ""&#xD;
tooltip = ""&#xD;
bottom_separator = false&#xD;
visible = true</Script><SystemId i:nil="true"/><Type>STRING</Type><VariableName>machine</VariableName></Property><Property><IconId>0</IconId><Name>Controller</Name><Namespace>mach</Namespace><Script>#options&#xD;
options = [&#xD;
{id:"FANUC", ui:"Fanuc", visible: true},&#xD;
{id:"HEIDENHAIN", ui:"Heidenhain", visible: false},&#xD;
{id:"SIEMENS", ui:"Siemens", visible: false},&#xD;
{id:"MAZAK", ui:"Mazatrol", visible: false},&#xD;
{id:"HAAS", ui:"Haas", visible: false}&#xD;
]&#xD;
&#xD;
&#xD;
default_value = "FANUC"&#xD;
tooltip = ""&#xD;
bottomSeparator = false&#xD;
visible = true</Script><SystemId i:nil="true"/><Type>OPTION</Type><VariableName>controller</VariableName></Property></Properties><Script i:nil="true"/><SystemId>GENERAL</SystemId></PropertyGroup><PropertyGroup><Name>Submachines</Name><Namespace>mach</Namespace><Properties/><Script i:nil="true"/><SystemId>SUBMACHINES</SystemId></PropertyGroup><PropertyGroup><Name>Channels</Name><Namespace>mach</Namespace><Properties/><Script i:nil="true"/><SystemId>CHANNELS</SystemId></PropertyGroup></PropertyGroups><Script i:nil="true"/><SystemId>MACHINE</SystemId></Page><Page><IconId>6</IconId><Name>Customer informations</Name><Namespace>usr</Namespace><PropertyGroups><PropertyGroup><Name>Group</Name><Namespace>usr</Namespace><Properties><Property><IconId>0</IconId><Name>Reseller</Name><Namespace>usr</Namespace><Script>default_value = "SolidCAM"&#xD;
hint_text = ""&#xD;
tooltip = "Please enter here the reseller name"&#xD;
bottom_separator = false&#xD;
visible = true</Script><SystemId i:nil="true"/><Type>STRING</Type><VariableName>reseller</VariableName></Property><Property><IconId>0</IconId><Name>customer</Name><Namespace>usr</Namespace><Script>default_value = ""&#xD;
hint_text = "please enter the customer name here"&#xD;
tooltip = "please enter the customer name here"&#xD;
bottom_separator = false&#xD;
visible = true</Script><SystemId i:nil="true"/><Type>STRING</Type><VariableName>customer</VariableName></Property><Property><IconId>0</IconId><Name>postnumber from Genesis</Name><Namespace>usr</Namespace><Script>default_value = 0&#xD;
tooltip = ""&#xD;
bottom_separator = false&#xD;
visible = false&#xD;
&#xD;
if usr.Reseller | string.downcase | string.contains("gmbh")&#xD;
	visible = true&#xD;
end</Script><SystemId i:nil="true"/><Type>NUMERIC</Type><VariableName>postnumber</VariableName></Property><Property><IconId>0</IconId><Name>CAM version</Name><Namespace>usr</Namespace><Script>default_value = "SC2021"&#xD;
hint_text = ""&#xD;
tooltip = ""&#xD;
bottom_separator = false&#xD;
visible = true</Script><SystemId i:nil="true"/><Type>STRING</Type><VariableName>camversion</VariableName></Property><Property><IconId>0</IconId><Name>Post generated from</Name><Namespace>usr</Namespace><Script>default_value = ""&#xD;
hint_text = "please enter here your initials"&#xD;
tooltip = "please only use 3 characters e.G. RJU for Ronny Jurke"&#xD;
bottom_separator = false&#xD;
visible = true</Script><SystemId i:nil="true"/><Type>STRING</Type><VariableName>postguy</VariableName></Property></Properties><Script>&#xD;
visible = true</Script><SystemId i:nil="true"/></PropertyGroup></PropertyGroups><Script>&#xD;
visible = true</Script><SystemId i:nil="true"/></Page><Page><IconId>2</IconId><Name>Options</Name><Namespace>usr</Namespace><PropertyGroups><PropertyGroup><Name>part options</Name><Namespace>usr</Namespace><Properties><Property><IconId>0</IconId><Name>Berechnungsmakro</Name><Namespace>usr</Namespace><Script>default_value = usr.tiltCycle == "SC"&#xD;
tooltip = ""&#xD;
bottom_separator = false&#xD;
visible = false #usr.tiltCycle == "SC"</Script><SystemId i:nil="true"/><Type>BOOL</Type><VariableName>bCalcMacroVMID</VariableName></Property><Property><IconId>0</IconId><Name>Feinkorrektur nach Drehung</Name><Namespace>usr</Namespace><Script>default_value = false&#xD;
tooltip = ""&#xD;
bottom_separator = false&#xD;
visible = true&#xD;
#ui: res.CommentPartOptions1</Script><SystemId i:nil="true"/><Type>BOOL</Type><VariableName>bVMID_MO_FineShiftAfterRot</VariableName></Property><Property><IconId>0</IconId><Name>HSC Option</Name><Namespace>usr</Namespace><Script>options = [&#xD;
{id:"none", ui:"None", visible: true},&#xD;
{id:"G05", ui:"G05", visible: true},&#xD;
{id:"G05.1", ui:"G05.1", visible: true},&#xD;
{id:"G120", ui:"G120", visible: true},&#xD;
{id:"G130", ui:"G130", visible: true}&#xD;
]&#xD;
default_value = "G05"&#xD;
tooltip = ""&#xD;
bottom_separator = false&#xD;
visible = true</Script><SystemId i:nil="true"/><Type>OPTION</Type><VariableName>sVMID_MO_HSCoption</VariableName></Property><Property><IconId>0</IconId><Name>Nullpunkte schreiben</Name><Namespace>usr</Namespace><Script>default_value = false&#xD;
tooltip = ""&#xD;
bottom_separator = false&#xD;
visible = true</Script><SystemId i:nil="true"/><Type>BOOL</Type><VariableName>bVMID_MO_WithZeroPointSeting</VariableName></Property></Properties><Script>&#xD;
visible = true</Script><SystemId i:nil="true"/></PropertyGroup><PropertyGroup><Name>job options</Name><Namespace>usr</Namespace><Properties><Property><IconId>0</IconId><Name>PROGR_STOP</Name><Namespace>usr</Namespace><Script>default_value = false&#xD;
tooltip = ""&#xD;
bottom_separator = false&#xD;
visible = true</Script><SystemId i:nil="true"/><Type>BOOL</Type><VariableName>bVMID_MI_PRGStop</VariableName></Property><Property><IconId>0</IconId><Name>Ausgabe am Job Start</Name><Namespace>usr</Namespace><Script>default_value = false&#xD;
tooltip = ""&#xD;
bottom_separator = false&#xD;
visible = true</Script><SystemId i:nil="true"/><Type>BOOL</Type><VariableName>sVMID_MI_UserInputStart</VariableName></Property><Property><IconId>0</IconId><Name>Ausgabe am Job Ende</Name><Namespace>usr</Namespace><Script>default_value = false&#xD;
tooltip = ""&#xD;
bottom_separator = false&#xD;
visible = true</Script><SystemId i:nil="true"/><Type>BOOL</Type><VariableName>sVMID_MI_UserInputEnd</VariableName></Property><Property><IconId>0</IconId><Name>bVMID_MI_HSCbyAllJobs</Name><Namespace>usr</Namespace><Script>default_value = false&#xD;
tooltip = "ja=HSC in allen Jobs"&#xD;
bottom_separator = false&#xD;
visible = usr.sVMID_MO_HSCoption != "none"</Script><SystemId i:nil="true"/><Type>BOOL</Type><VariableName>bVMID_MI_HSCbyAllJobs</VariableName></Property><Property><IconId>0</IconId><Name>sVMID_MI_HSCaditional</Name><Namespace>usr</Namespace><Script>default_value = "P10000"&#xD;
hint_text = "HSC aditional Code"&#xD;
tooltip = "HSC Zusatz"&#xD;
bottom_separator = false&#xD;
visible = usr.sVMID_MO_HSCoption != "none"</Script><SystemId i:nil="true"/><Type>STRING</Type><VariableName>sVMID_MI_HSCaditional</VariableName></Property><Property><IconId>0</IconId><Name>bVMID_MI_G61_On</Name><Namespace>usr</Namespace><Script>default_value = false&#xD;
tooltip = "G61_GENAUHALT_AN"&#xD;
bottom_separator = false&#xD;
visible = true</Script><SystemId i:nil="true"/><Type>BOOL</Type><VariableName>bVMID_MI_G61_On</VariableName></Property><Property><IconId>0</IconId><Name>bVMID_MI_FineToolCorr</Name><Namespace>usr</Namespace><Script>default_value = false&#xD;
tooltip = ""&#xD;
bottom_separator = false&#xD;
visible = true</Script><SystemId i:nil="true"/><Type>BOOL</Type><VariableName>bVMID_MI_FineToolCorr</VariableName></Property></Properties><Script>&#xD;
visible = true</Script><SystemId i:nil="true"/></PropertyGroup><PropertyGroup><Name>HomeNumber</Name><Namespace>usr</Namespace><Properties><Property><IconId>0</IconId><Name>Home Number Range</Name><Namespace>usr</Namespace><Script>options = [&#xD;
{id:"6", ui:"G54-G59", visible: true},&#xD;
{id:"48", ui:"G54.1 P1-P48", visible: true},&#xD;
{id:"300", ui:"G54.1 P1-P300", visible: true}&#xD;
]&#xD;
default_value = "6"&#xD;
tooltip = ""&#xD;
bottom_separator = false&#xD;
visible = true</Script><SystemId i:nil="true"/><Type>OPTION</Type><VariableName>HomeNumberRange</VariableName></Property></Properties><Script>&#xD;
visible = true</Script><SystemId i:nil="true"/></PropertyGroup><PropertyGroup><Name>tilting</Name><Namespace>usr</Namespace><Properties><Property><IconId>0</IconId><Name>Tilt Cycle</Name><Namespace>usr</Namespace><Script>options = [&#xD;
{id:"SC", ui:"SC", visible: true},&#xD;
{id:"G68.2", ui:"G68.2", visible: true},&#xD;
{id:"M200", ui:"M200", visible: true}&#xD;
]&#xD;
default_value = "G68.2"&#xD;
tooltip = ""&#xD;
bottom_separator = false&#xD;
visible = true</Script><SystemId i:nil="true"/><Type>OPTION</Type><VariableName>tiltCycle</VariableName></Property><Property><IconId>0</IconId><Name>Number of Subprogram of SolidCAM calculation macro</Name><Namespace>usr</Namespace><Script>default_value = 8889&#xD;
tooltip = "Number of Subprogram of SoliDCAM calculation macro (@usr_NewCalcHomeData)"&#xD;
bottom_separator = false&#xD;
visible = usr.tiltCycle == "SC"
    </Script><SystemId i:nil="true"/><Type>NUMERIC</Type><VariableName>i_CalcMacroNumber</VariableName></Property><Property><IconId>0</IconId><Name>First free # parameter</Name><Namespace>usr</Namespace><Script>default_value = 650&#xD;
tooltip = "First free # parameter for SoliDCAM calculation macro (@usr_NewCalcHomeData)"&#xD;
bottom_separator = false&#xD;
visible = usr.tiltCycle == "SC"
    </Script><SystemId i:nil="true"/><Type>NUMERIC</Type><VariableName>i_StartParamPos</VariableName></Property><Property><IconId>0</IconId><Name>Active home number after calc macro</Name><Namespace>usr</Namespace><Script>options = [&#xD;
{id:"5", ui:"5 = G58", visible: true},&#xD;
{id:"41", ui:"47 = G54.1 P47", visible: usr.HomeNumberRange == "300" || usr.HomeNumberRange == "48"},&#xD;
{id:"293", ui:"299 = G54.1 P299", visible: usr.HomeNumberRange == "300"}&#xD;
]&#xD;
default_value = "5"&#xD;
tooltip = "299 = G54.1 P299 / 47 = G54.1 P47 / 5 = G58 (active home number with new position after calculation macro)"&#xD;
bottom_separator = false&#xD;
visible = usr.tiltCycle == "SC"
    </Script><SystemId i:nil="true"/><Type>OPTION</Type><VariableName>i_CalcHomeSavedIn</VariableName></Property><Property><IconId>0</IconId><Name>home number of the M.R.Z. Point</Name><Namespace>usr</Namespace><Script>options = [&#xD;
{id:"6", ui:"6 = G59", visible: true},&#xD;
{id:"42", ui:"48 = G54.1 P48", visible: usr.HomeNumberRange == "300" || usr.HomeNumberRange == "48"},&#xD;
{id:"294", ui:"300 = G54.1 P300", visible: usr.HomeNumberRange == "300"}&#xD;
]&#xD;
default_value = "6"&#xD;
tooltip = "306(300) = G54.1 P300 / 48 = G54.1 P48 / 6 = G59 (home number of the M.R.Z. Point for calculation macro)"&#xD;
bottom_separator = true&#xD;
visible = usr.tiltCycle == "SC"
    </Script><SystemId i:nil="true"/><Type>OPTION</Type><VariableName>i_MRZPointSavedIn</VariableName></Property></Properties><Script>#1&#xD;
#visible = vmid.procedures || vmid.subprocedures&#xD;
visible = false&#xD;
&#xD;
for sub in vmid.submachines&#xD;
	if sub.hasFirstRotAxis&#xD;
		visible = true&#xD;
	end&#xD;
end</Script><SystemId i:nil="true"/></PropertyGroup><PropertyGroup><Name>Probe</Name><Namespace>usr</Namespace><Properties><Property><IconId>0</IconId><Name>With Probe</Name><Namespace>usr</Namespace><Script>default_value = false&#xD;
tooltip = ""&#xD;
bottom_separator = false&#xD;
visible = true</Script><SystemId i:nil="true"/><Type>BOOL</Type><VariableName>b_WithProbe</VariableName></Property><Property><IconId>0</IconId><Name>Name of inc file for Probe</Name><Namespace>usr</Namespace><Script>options = [&#xD;
{id:"Probe_Renishaw_Fanuc", ui:"Probe_Renishaw_Fanuc", visible: true},&#xD;
{id:"custom", ui:"Custom", visible: true}&#xD;
]&#xD;
default_value = "Probe_Renishaw_Fanuc"&#xD;
tooltip = ""&#xD;
bottom_separator = false&#xD;
visible = usr.b_WithProbe</Script><SystemId i:nil="true"/><Type>OPTION</Type><VariableName>s_IncFileProbeName</VariableName></Property><Property><IconId>0</IconId><Name>Name of inc file for Probe</Name><Namespace>usr</Namespace><Script>default_value = ""&#xD;
hint_text = "please enter the inc file name for probe"&#xD;
tooltip = ""&#xD;
bottom_separator = false&#xD;
visible = usr.s_IncFileProbeName == "custom"</Script><SystemId i:nil="true"/><Type>STRING</Type><VariableName>s_IncFileProbeNameCustom</VariableName></Property></Properties><Script>#2&#xD;
visible = true</Script><SystemId i:nil="true"/></PropertyGroup><PropertyGroup><Name>others</Name><Namespace>usr</Namespace><Properties><Property><IconId>0</IconId><Name>With clamping axes</Name><Namespace>usr</Namespace><Script>default_value = false&#xD;
tooltip = "true = M-Codes in @start_of_job and in @end_of_job | For x5_job in @usr_RotateToPlane, @drill_plane"&#xD;
bottom_separator = false&#xD;
visible = false&#xD;
&#xD;
for sub in vmid.submachines&#xD;
	if sub.hasFirstRotAxis&#xD;
		visible = true&#xD;
	end&#xD;
end</Script><SystemId i:nil="true"/><Type>BOOL</Type><VariableName>b_WithClamping</VariableName></Property><Property><IconId>0</IconId><Name>G49 with Z</Name><Namespace>usr</Namespace><Script>default_value = false&#xD;
tooltip = "true = G49 G53/G91 G28 Z0. ; false = G49 (MP5006#6=0 ==&gt; with Z-movement / MP5006#6=1 coord. without Z-movement just system new positioning)"&#xD;
bottom_separator = false&#xD;
visible = true</Script><SystemId i:nil="true"/><Type>BOOL</Type><VariableName>b_G49WithZ</VariableName></Property><Property><IconId>0</IconId><Name>feed&amp;spin for each job</Name><Namespace>usr</Namespace><Script>default_value = false&#xD;
tooltip = "true = feed&amp;spin codes at each @start_of_job"&#xD;
bottom_separator = false&#xD;
visible = true</Script><SystemId i:nil="true"/><Type>BOOL</Type><VariableName>b_FeedSpinInEachJob</VariableName></Property><Property><IconId>0</IconId><Name>use M203/M204</Name><Namespace>usr</Namespace><Script>default_value = false&#xD;
tooltip = "true = use M203/M204 spin without monitoring, false = M3/M4"&#xD;
bottom_separator = false&#xD;
visible = true</Script><SystemId i:nil="true"/><Type>BOOL</Type><VariableName>b_WithoutSpeedMonitoring</VariableName></Property><Property><IconId>0</IconId><Name>T0 tool by end programm</Name><Namespace>usr</Namespace><Script>default_value = false&#xD;
tooltip = " true = call T0 tool by end programm"&#xD;
bottom_separator = false&#xD;
visible = true</Script><SystemId i:nil="true"/><Type>BOOL</Type><VariableName>b_T0callEndPrg</VariableName></Property><Property><IconId>0</IconId><Name>preselection of the next tool</Name><Namespace>usr</Namespace><Script>default_value = false&#xD;
tooltip = "true = preselection of the next tool in @change_tool"&#xD;
bottom_separator = false&#xD;
visible = true</Script><SystemId i:nil="true"/><Type>BOOL</Type><VariableName>b_ToolPreselect</VariableName></Property><Property><IconId>0</IconId><Name>tool change with place number in tool ID</Name><Namespace>usr</Namespace><Script>default_value = false&#xD;
tooltip = "true = tool change with place number in tool ID"&#xD;
bottom_separator = false&#xD;
visible = true</Script><SystemId i:nil="true"/><Type>BOOL</Type><VariableName>b_TCwithPlaceNumber</VariableName></Property><Property><IconId>0</IconId><Name>M1 before change tool</Name><Namespace>usr</Namespace><Script>default_value = false&#xD;
tooltip = "true = M1 before change tool"&#xD;
bottom_separator = false&#xD;
visible = true</Script><SystemId i:nil="true"/><Type>BOOL</Type><VariableName>b_M1beforToolChange</VariableName></Property><Property><IconId>0</IconId><Name>M1 after change tool</Name><Namespace>usr</Namespace><Script>default_value = false&#xD;
tooltip = "true = M1 after change tool"&#xD;
bottom_separator = false&#xD;
visible = true</Script><SystemId i:nil="true"/><Type>BOOL</Type><VariableName>b_M1AfterToolChange</VariableName></Property><Property><IconId>0</IconId><Name>M5  before change tool</Name><Namespace>usr</Namespace><Script>default_value = false&#xD;
tooltip = "true = M5  before change tool"&#xD;
bottom_separator = false&#xD;
visible = true</Script><SystemId i:nil="true"/><Type>BOOL</Type><VariableName>b_M5beforToolChange</VariableName></Property><Property><IconId>0</IconId><Name>i_HOffset</Name><Namespace>usr</Namespace><Script>options = [&#xD;
{id:"-1", ui:"-1", visible: true},&#xD;
{id:"0", ui:"0", visible: true},&#xD;
{id:"-2", ui:"-2", visible: true},&#xD;
{id:"4120", ui:"4120", visible: true}&#xD;
]&#xD;
default_value = "0"&#xD;
tooltip = "-1 = no output / 0 = h_offset from SolidCAM-Job / -2 = from tool position,index_table (always H01) / 4120 ==&gt; H#4120"&#xD;
bottom_separator = false&#xD;
visible = true</Script><SystemId i:nil="true"/><Type>OPTION</Type><VariableName>i_HOffset</VariableName></Property><Property><IconId>0</IconId><Name>i_DOffset</Name><Namespace>usr</Namespace><Script>options = [&#xD;
{id:"-1", ui:"-1", visible: true},&#xD;
{id:"0", ui:"0", visible: true},&#xD;
{id:"-2", ui:"-2", visible: true},&#xD;
{id:"4120", ui:"4120", visible: true}&#xD;
]&#xD;
default_value = "0"&#xD;
tooltip = "-1 = no output / 0 = d_offset from SolidCAM-Job / -2 = from tool position,index_table (always D01) / 4120 ==&gt; D#4120"&#xD;
bottom_separator = false&#xD;
visible = true</Script><SystemId i:nil="true"/><Type>OPTION</Type><VariableName>i_DOffset</VariableName></Property><Property><IconId>0</IconId><Name>tool fine correction in tool table</Name><Namespace>usr</Namespace><Script>default_value = false&#xD;
tooltip = "true = tool fine correction in tool table H and D"&#xD;
bottom_separator = false&#xD;
visible = true</Script><SystemId i:nil="true"/><Type>BOOL</Type><VariableName>b_FineToolCorr</VariableName></Property><Property><IconId>0</IconId><Name>tool wear with G10</Name><Namespace>usr</Namespace><Script>default_value = false&#xD;
tooltip = "true = tool wear with G10 ; false = tool wear direct over machine address"&#xD;
bottom_separator = false&#xD;
visible = usr.b_FineToolCorr</Script><SystemId i:nil="true"/><Type>BOOL</Type><VariableName>b_ToolWearWithG10</VariableName></Property><Property><IconId>0</IconId><Name>Tool Wear Comp</Name><Namespace>usr</Namespace><Script>options = [&#xD;
{id:"10", ui:"10 = System A", visible: true},&#xD;
{id:"11", ui:"11 = System B", visible: true},&#xD;
{id:"13", ui:"13 = System C", visible: true}&#xD;
]&#xD;
default_value = "13"&#xD;
tooltip = "13 = System C (G10 L11/13 P), 10 = System A and 11 = System B can not tool wear correction"&#xD;
bottom_separator = false&#xD;
visible =  usr.b_ToolWearWithG10</Script><SystemId i:nil="true"/><Type>OPTION</Type><VariableName>i_ToolWearCompDiam</VariableName></Property><Property><IconId>0</IconId><Name>Subprograms with G65</Name><Namespace>usr</Namespace><Script>
default_value = false&#xD;
tooltip = "true = calling of subprograms with the G65 (macro)"&#xD;
bottom_separator = false&#xD;
visible = vmid.subprocedures || vmid.procedures
  </Script><SystemId i:nil="true"/><Type>BOOL</Type><VariableName>b_SubProgramG65</VariableName></Property><Property><IconId>0</IconId><Name>Subprograms with M98</Name><Namespace>usr</Namespace><Script>default_value = false&#xD;
tooltip = "true = subprograms in external files (M98), false = subprograms in main program (M97)"&#xD;
bottom_separator = false&#xD;
visible = (vmid.subprocedures || vmid.procedures) &amp;&amp; !usr.b_SubProgramG65</Script><SystemId i:nil="true"/><Type>BOOL</Type><VariableName>b_M98</VariableName></Property><Property><IconId>0</IconId><Name>Print home number at each Job</Name><Namespace>usr</Namespace><Script>default_value = false&#xD;
tooltip = "true = HomeNumber by each Job"&#xD;
bottom_separator = true&#xD;
visible = true</Script><SystemId i:nil="true"/><Type>BOOL</Type><VariableName>b_HomeNumberAtEachJob</VariableName></Property><Property><IconId>0</IconId><Name>coordset for simultaneus without RTCP</Name><Namespace>usr</Namespace><Script>options = [&#xD;
{id:"", ui:"HPOS", visible: true},&#xD;
{id:"RPOS", ui:"RPOS", visible: true},&#xD;
{id:"MPOS", ui:"MPOS", visible: true},&#xD;
{id:"TPOS", ui:"TPOS", visible: true},&#xD;
{id:"TOPOS", ui:"TOPOS", visible: true}&#xD;
]&#xD;
default_value = ""&#xD;
tooltip = "for simultaneus without RTCP (RPOS;MPOS;TPOS;TOPOS or nothing for HPOS)"&#xD;
bottom_separator = false&#xD;
visible = false&#xD;
&#xD;
for sub in vmid.submachines&#xD;
	if sub.hasFirstRotAxis&#xD;
		visible = true&#xD;
	end&#xD;
end</Script><SystemId i:nil="true"/><Type>OPTION</Type><VariableName>s_CoordSetSim</VariableName></Property><Property><IconId>0</IconId><Name>TCP Type</Name><Namespace>usr</Namespace><Script>options = [&#xD;
{id:"1", ui:"G43.4", visible: true},&#xD;
{id:"2", ui:"G43.5", visible: true}&#xD;
]&#xD;
default_value = "1"&#xD;
tooltip = "G43.4 with angles / G43.5 with vectors (MP11776 defines the tolerance in mm)"&#xD;
bottom_separator = false&#xD;
visible = false&#xD;
&#xD;
for sub in vmid.submachines&#xD;
	if sub.hasFirstRotAxis&#xD;
		visible = true&#xD;
	end&#xD;
end</Script><SystemId i:nil="true"/><Type>OPTION</Type><VariableName>i_TCPType</VariableName></Property></Properties><Script>visible = true</Script><SystemId i:nil="true"/></PropertyGroup></PropertyGroups><Script>&#xD;
visible = true</Script><SystemId i:nil="true"/></Page><Page><IconId>7</IconId><Name>Additional</Name><Namespace>usr</Namespace><PropertyGroups><PropertyGroup><Name>Encryption</Name><Namespace>usr</Namespace><Properties><Property><IconId>0</IconId><Name>Print lines for encyption</Name><Namespace>usr</Namespace><Script>default_value = false&#xD;
tooltip = ""&#xD;
bottom_separator = false&#xD;
visible = true</Script><SystemId i:nil="true"/><Type>BOOL</Type><VariableName>useEncryption</VariableName></Property><Property><IconId>0</IconId><Name>Key_ID</Name><Namespace>usr</Namespace><Script>default_value = ""&#xD;
hint_text = "please insert Key ID from Licence Info"&#xD;
tooltip = ""&#xD;
bottom_separator = false&#xD;
visible = usr.useEncryption&#xD;
</Script><SystemId i:nil="true"/><Type>STRING</Type><VariableName>keyid</VariableName></Property><Property><IconId>0</IconId><Name>Key_ID</Name><Namespace>usr</Namespace><Script>default_value = ""&#xD;
hint_text = "please insert Key ID from Licence Info"&#xD;
tooltip = ""&#xD;
bottom_separator = false&#xD;
visible = usr.useEncryption &amp;&amp; !(usr.keyid == "")&#xD;
&#xD;
</Script><SystemId i:nil="true"/><Type>STRING</Type><VariableName>keyid_1</VariableName></Property><Property><IconId>0</IconId><Name>Key_ID</Name><Namespace>usr</Namespace><Script>default_value = ""&#xD;
hint_text = "please insert Key ID from Licence Info"&#xD;
tooltip = ""&#xD;
bottom_separator = false&#xD;
visible = usr.useEncryption &amp;&amp; !(usr.keyid_1 == "")&#xD;
&#xD;
</Script><SystemId i:nil="true"/><Type>STRING</Type><VariableName>keyid_2</VariableName></Property><Property><IconId>0</IconId><Name>Key_ID</Name><Namespace>usr</Namespace><Script>default_value = ""&#xD;
hint_text = "please insert Key ID from Licence Info"&#xD;
tooltip = ""&#xD;
bottom_separator = false&#xD;
visible = usr.useEncryption &amp;&amp; !(usr.keyid_2 == "")&#xD;
&#xD;
</Script><SystemId i:nil="true"/><Type>STRING</Type><VariableName>keyid_3</VariableName></Property><Property><IconId>0</IconId><Name>Expired_date</Name><Namespace>usr</Namespace><Script>default_value = "0000/00/00"&#xD;
hint_text = "format = year / month / day"&#xD;
tooltip = ""&#xD;
bottom_separator = false&#xD;
visible = usr.useEncryption</Script><SystemId i:nil="true"/><Type>STRING</Type><VariableName>expiredate</VariableName></Property></Properties><Script>&#xD;
visible = true</Script><SystemId i:nil="true"/></PropertyGroup><PropertyGroup><Name>Features</Name><Namespace>usr</Namespace><Properties><Property><IconId>0</IconId><Name>Parametric Feed</Name><Namespace>usr</Namespace><Script>default_value = false&#xD;
tooltip = "Output with Parametric feed or not"&#xD;
bottom_separator = false&#xD;
visible = true</Script><SystemId i:nil="true"/><Type>BOOL</Type><VariableName>withParametricfeed</VariableName></Property><Property><IconId>0</IconId><Name>GPP Language</Name><Namespace>usr</Namespace><Script>options = [&#xD;
{id:"de", ui:"Deutsch", visible: true},&#xD;
{id:"en", ui:"English", visible: true}&#xD;
]&#xD;
default_value = "de"&#xD;
tooltip = "Choose the language for the comments here"&#xD;
bottom_separator = false&#xD;
visible = true</Script><SystemId i:nil="true"/><Type>OPTION</Type><VariableName>GppLanguage</VariableName></Property></Properties><Script>&#xD;
visible = true</Script><SystemId i:nil="true"/></PropertyGroup></PropertyGroups><Script>&#xD;
visible = true</Script><SystemId i:nil="true"/></Page><Page><IconId>4</IconId><Name>Retreat</Name><Namespace>usr</Namespace><PropertyGroups><PropertyGroup><Name>Group</Name><Namespace>usr</Namespace><Properties><Property><IconId>0</IconId><Name>Retreat Command</Name><Namespace>usr</Namespace><Script>options = [&#xD;
{id:"G28", ui:"G28", visible: true},&#xD;
{id:"G30", ui:"G30", visible: true},&#xD;
{id:"G53", ui:"G53", visible: true}&#xD;
]&#xD;
default_value = "G28"&#xD;
tooltip = ""&#xD;
bottom_separator = false&#xD;
visible = true</Script><SystemId i:nil="true"/><Type>OPTION</Type><VariableName>sRetreatCommand</VariableName></Property><Property><IconId>0</IconId><Name>Axis for Retreat</Name><Namespace>usr</Namespace><Script>options = [&#xD;
{id:"ZXY", ui:"ZXY", visible: true},&#xD;
{id:"WUV", ui:"WUV", visible: false}&#xD;
]&#xD;
default_value = "ZXY"&#xD;
if usr.sRetreatCommand == "G28"&#xD;
	options[1].visible = true&#xD;
	tooltip = "Retreat with ZXY or WUV?"&#xD;
else&#xD;
	tooltip = ""&#xD;
end&#xD;
bottom_separator = false&#xD;
visible = true</Script><SystemId i:nil="true"/><Type>OPTION</Type><VariableName>sO_G28With</VariableName></Property><Property><IconId>0</IconId><Name>use VMID Limits</Name><Namespace>usr</Namespace><Script>
default_value = false&#xD;
tooltip = "true = use VMID Limits instead of fixed limits"&#xD;
bottom_separator = false&#xD;
visible = true
    </Script><SystemId i:nil="true"/><Type>BOOL</Type><VariableName>b_UseVMIDRetreatLimits</VariableName></Property><Property><IconId>0</IconId><Name>Retreat Value Z (W)</Name><Namespace>usr</Namespace><Script>default_value = 0&#xD;
tooltip = ""&#xD;
bottom_separator = false&#xD;
visible = !usr.b_UseVMIDRetreatLimits&#xD;
ui_name = "Other name"</Script><SystemId i:nil="true"/><Type>NUMERIC</Type><VariableName>n_ZRetreatValue</VariableName></Property><Property><IconId>0</IconId><Name>Retreat Value X (U)</Name><Namespace>usr</Namespace><Script>default_value = 0&#xD;
tooltip = ""&#xD;
bottom_separator = false&#xD;
visible = !usr.b_UseVMIDRetreatLimits&#xD;
</Script><SystemId i:nil="true"/><Type>NUMERIC</Type><VariableName>n_XRetreatValue</VariableName></Property><Property><IconId>0</IconId><Name>Retreat Value Y (V)</Name><Namespace>usr</Namespace><Script>default_value = 0&#xD;
tooltip = ""&#xD;
bottom_separator = false&#xD;
visible = !usr.b_UseVMIDRetreatLimits&#xD;
</Script><SystemId i:nil="true"/><Type>NUMERIC</Type><VariableName>n_YRetreatValue</VariableName></Property><Property><IconId>0</IconId><Name>Retreat Order</Name><Namespace>usr</Namespace><Script>options = [&#xD;
{id:"Z", ui:"Only Z", visible: true},&#xD;
{id:"Z_XY", ui:"Z then XY", visible: true},&#xD;
{id:"Z_X_Y", ui:"Z then X then Y", visible: true}&#xD;
]&#xD;
default_value = "Z"&#xD;
tooltip = ""&#xD;
bottom_separator = true&#xD;
visible = true</Script><SystemId i:nil="true"/><Type>OPTION</Type><VariableName>sO_RetreatOrder</VariableName></Property></Properties><Script>&#xD;
visible = true&#xD;
ui_name = "retreat"</Script><SystemId i:nil="true"/></PropertyGroup></PropertyGroups><Script>&#xD;
visible = true</Script><SystemId i:nil="true"/></Page><Page><IconId>19</IconId><Name>Cooling</Name><Namespace>usr</Namespace><PropertyGroups><PropertyGroup><Name>Machine Coolants</Name><Namespace>usr</Namespace><Properties><Property><IconId>26</IconId><Name>Flood coolant: ON</Name><Namespace>usr</Namespace><Script>default_value = ""&#xD;
tooltip = res.s_MachFloodOn&#xD;
hint_text = "Enter M code"&#xD;
bottomSeparator = false&#xD;
visible = vmid.machCoolants.flood
            </Script><SystemId i:nil="true"/><Type>STRING</Type><VariableName>machFloodOn</VariableName></Property><Property><IconId>26</IconId><Name>Flood coolant: OFF</Name><Namespace>usr</Namespace><Script>default_value = ""&#xD;
tooltip = res.s_MachFloodOff&#xD;
hint_text = "Enter M code"&#xD;
bottomSeparator = false&#xD;
visible = vmid.machCoolants.flood
            </Script><SystemId i:nil="true"/><Type>STRING</Type><VariableName>machFloodOff</VariableName></Property><Property><IconId>26</IconId><Name>Flood coolant high pressure: ON</Name><Namespace>usr</Namespace><Script>default_value = ""&#xD;
tooltip = ""&#xD;
hint_text = "Enter M code"&#xD;
bottomSeparator = false&#xD;
visible = vmid.machCoolants.floodHighLow
            </Script><SystemId i:nil="true"/><Type>STRING</Type><VariableName>machFloodHighOn</VariableName></Property><Property><IconId>26</IconId><Name>Flood coolant high pressure: OFF</Name><Namespace>usr</Namespace><Script>default_value = ""&#xD;
tooltip = ""&#xD;
hint_text = "Enter M code"&#xD;
bottomSeparator = false&#xD;
visible = vmid.machCoolants.floodHighLow
            </Script><SystemId i:nil="true"/><Type>STRING</Type><VariableName>machFloodHighOff</VariableName></Property><Property><IconId>26</IconId><Name>Flood coolant medium pressure: ON</Name><Namespace>usr</Namespace><Script>default_value = ""&#xD;
tooltip = ""&#xD;
hint_text = "Enter M code"&#xD;
bottomSeparator = false&#xD;
visible = vmid.machCoolants.floodHighLow
            </Script><SystemId i:nil="true"/><Type>STRING</Type><VariableName>machFloodMedOn</VariableName></Property><Property><IconId>26</IconId><Name>Flood coolant medium pressure: OFF</Name><Namespace>usr</Namespace><Script>default_value = ""&#xD;
tooltip = ""&#xD;
hint_text = "Enter M code"&#xD;
bottomSeparator = false&#xD;
visible = vmid.machCoolants.floodHighLow
            </Script><SystemId i:nil="true"/><Type>STRING</Type><VariableName>machFloodMedOff</VariableName></Property><Property><IconId>26</IconId><Name>Flood coolant low pressure: ON</Name><Namespace>usr</Namespace><Script>default_value = ""&#xD;
tooltip = ""&#xD;
hint_text = "Enter M code"&#xD;
bottomSeparator = false&#xD;
visible = vmid.machCoolants.floodHighLow
            </Script><SystemId i:nil="true"/><Type>STRING</Type><VariableName>machFloodLowOn</VariableName></Property><Property><IconId>26</IconId><Name>Flood coolant low pressure: OFF</Name><Namespace>usr</Namespace><Script>default_value = ""&#xD;
tooltip = ""&#xD;
hint_text = "Enter M code"&#xD;
bottomSeparator = false&#xD;
visible = vmid.machCoolants.floodHighLow
            </Script><SystemId i:nil="true"/><Type>STRING</Type><VariableName>machFloodLowOff</VariableName></Property><Property><IconId>26</IconId><Name>Flood coolant ival: ON</Name><Namespace>usr</Namespace><Script>default_value = ""&#xD;
tooltip = ""&#xD;
hint_text = "Enter M code"&#xD;
bottomSeparator = false&#xD;
visible = vmid.machCoolants.floodIval
            </Script><SystemId i:nil="true"/><Type>STRING</Type><VariableName>machFloodIvalOn_2</VariableName></Property><Property><IconId>26</IconId><Name>Flood coolant ival: OFF</Name><Namespace>usr</Namespace><Script>default_value = ""&#xD;
tooltip = ""&#xD;
hint_text = "Enter M code"&#xD;
bottomSeparator = false&#xD;
visible = vmid.machCoolants.floodIval
            </Script><SystemId i:nil="true"/><Type>STRING</Type><VariableName>machFloodIvalOff</VariableName></Property></Properties><Script> visible = true
        </Script><SystemId i:nil="true"/></PropertyGroup><PropertyGroup><Name>Spindle</Name><Namespace>usr</Namespace><Properties><Property><IconId>26</IconId><Name>Flood coolant: ON</Name><Namespace>usr</Namespace><Script>default_value = ""&#xD;
hint_text = "Enter M code"&#xD;
tooltip = "Enter M code to set flood coolant on."&#xD;
bottom_separator = false&#xD;
              &#xD;
spindleIndex = 0&#xD;
spindleExists = array.size(vmid.spindles) &gt; spindleIndex&#xD;
if spindleExists&#xD;
	visible = vmid.spindles[spindleIndex].coolants.flood&#xD;
else&#xD;
	visible = false&#xD;
end
            </Script><SystemId i:nil="true"/><Type>STRING</Type><VariableName>spindleOneFloodOn</VariableName></Property><Property><IconId>26</IconId><Name>Flood coolant: OFF</Name><Namespace>usr</Namespace><Script>default_value = ""&#xD;
hint_text = "Enter M code"&#xD;
tooltip = "Enter M code to set flood coolant off."&#xD;
bottom_separator = true&#xD;
              &#xD;
spindleIndex = 0&#xD;
spindleExists = array.size(vmid.spindles) &gt; spindleIndex&#xD;
if spindleExists&#xD;
	visible = vmid.spindles[spindleIndex].coolants.flood&#xD;
else&#xD;
	visible = false&#xD;
end
            </Script><SystemId i:nil="true"/><Type>STRING</Type><VariableName>spindleOneFloodOff</VariableName></Property><Property><IconId>26</IconId><Name>Through coolant: ON</Name><Namespace>usr</Namespace><Script>default_value = ""&#xD;
hint_text = "Enter M code"&#xD;
tooltip = "Enter M code to set through tool coolant on."&#xD;
bottom_separator = false&#xD;
              &#xD;
spindleIndex = 0&#xD;
spindleExists = array.size(vmid.spindles) &gt; spindleIndex&#xD;
if spindleExists&#xD;
	visible = vmid.spindles[spindleIndex].coolants.through&#xD;
else&#xD;
	visible = false&#xD;
end
            </Script><SystemId i:nil="true"/><Type>STRING</Type><VariableName>spindleOneThroughOn</VariableName></Property><Property><IconId>26</IconId><Name>Through coolant: OFF</Name><Namespace>usr</Namespace><Script>default_value = ""&#xD;
hint_text = "Enter M code"&#xD;
tooltip = "Enter M code to set through tool coolant off."&#xD;
bottom_separator = true&#xD;
              &#xD;
spindleIndex = 0&#xD;
spindleExists = array.size(vmid.spindles) &gt; spindleIndex&#xD;
if spindleExists&#xD;
	visible = vmid.spindles[spindleIndex].coolants.through&#xD;
else&#xD;
	visible = false&#xD;
end
            </Script><SystemId i:nil="true"/><Type>STRING</Type><VariableName>spindleOneThroughOff</VariableName></Property><Property><IconId>26</IconId><Name>Air_blast ON</Name><Namespace>usr</Namespace><Script>default_value = ""&#xD;
hint_text = "Enter M code"&#xD;
tooltip = "Enter M code to set air blast coolant on."&#xD;
bottom_separator = false&#xD;
              &#xD;
spindleIndex = 0&#xD;
spindleExists = array.size(vmid.spindles) &gt; spindleIndex&#xD;
if spindleExists&#xD;
	visible = vmid.spindles[spindleIndex].coolants.air&#xD;
else&#xD;
	visible = false&#xD;
end
            </Script><SystemId i:nil="true"/><Type>STRING</Type><VariableName>spindleOneAirOn</VariableName></Property><Property><IconId>26</IconId><Name>Air_blast OFF</Name><Namespace>usr</Namespace><Script>default_value = ""&#xD;
hint_text = "Enter M code"&#xD;
tooltip = "Enter M code to set air blast coolant off."&#xD;
bottom_separator = false&#xD;
              &#xD;
spindleIndex = 0&#xD;
spindleExists = array.size(vmid.spindles) &gt; spindleIndex&#xD;
if spindleExists&#xD;
	visible = vmid.spindles[spindleIndex].coolants.air&#xD;
else&#xD;
	visible = false&#xD;
end
            </Script><SystemId i:nil="true"/><Type>STRING</Type><VariableName>spindleOneAirOff</VariableName></Property></Properties><Script>ui_name = vmid.spindles[0].name&#xD;
visible = true
        </Script><SystemId i:nil="true"/></PropertyGroup><PropertyGroup><Name>Spindle 2</Name><Namespace>usr</Namespace><Properties><Property><IconId>26</IconId><Name>Flood coolant: ON</Name><Namespace>usr</Namespace><Script>
              &#xD;
              &#xD;
              &#xD;
              default_value = ""&#xD;
              hint_text = "Enter M code"&#xD;
              tooltip = "Enter M code to set flood coolant on."&#xD;
              bottom_separator = false&#xD;
              &#xD;
              spindleIndex = 1&#xD;
              spindleExists = array.size(vmid.spindles) &gt; spindleIndex&#xD;
              if spindleExists&#xD;
              visible = vmid.spindles[spindleIndex].coolants.flood&#xD;
              else&#xD;
              visible = false&#xD;
              end
            </Script><SystemId i:nil="true"/><Type>STRING</Type><VariableName>spindleTwoFloodOn</VariableName></Property><Property><IconId>26</IconId><Name>Flood coolant: OFF</Name><Namespace>usr</Namespace><Script>
              &#xD;
              &#xD;
              &#xD;
              default_value = ""&#xD;
              hint_text = "Enter M code"&#xD;
              tooltip = "Enter M code to set flood coolant off."&#xD;
              bottom_separator = true&#xD;
              &#xD;
              spindleIndex = 1&#xD;
              spindleExists = array.size(vmid.spindles) &gt; spindleIndex&#xD;
              if spindleExists&#xD;
              visible = vmid.spindles[spindleIndex].coolants.flood&#xD;
              else&#xD;
              visible = false&#xD;
              end
            </Script><SystemId i:nil="true"/><Type>STRING</Type><VariableName>spindleTwoFloodOff</VariableName></Property><Property><IconId>26</IconId><Name>Through coolant: ON</Name><Namespace>usr</Namespace><Script>
              &#xD;
              &#xD;
              &#xD;
              default_value = ""&#xD;
              hint_text = "Enter M code"&#xD;
              tooltip = "Enter M code to set through tool coolant on."&#xD;
              bottom_separator = false&#xD;
              &#xD;
              spindleIndex = 1&#xD;
              spindleExists = array.size(vmid.spindles) &gt; spindleIndex&#xD;
              if spindleExists&#xD;
              visible = vmid.spindles[spindleIndex].coolants.through&#xD;
              else&#xD;
              visible = false&#xD;
              end
            </Script><SystemId i:nil="true"/><Type>STRING</Type><VariableName>spindleTwoThroughOn</VariableName></Property><Property><IconId>26</IconId><Name>Through coolant: OFF</Name><Namespace>usr</Namespace><Script>
              &#xD;
              &#xD;
              &#xD;
              default_value = ""&#xD;
              hint_text = "Enter M code"&#xD;
              tooltip = "Enter M code to set through tool coolant off."&#xD;
              bottom_separator = true&#xD;
              &#xD;
              spindleIndex = 1&#xD;
              spindleExists = array.size(vmid.spindles) &gt; spindleIndex&#xD;
              if spindleExists&#xD;
              visible = vmid.spindles[spindleIndex].coolants.through&#xD;
              else&#xD;
              visible = false&#xD;
              end
            </Script><SystemId i:nil="true"/><Type>STRING</Type><VariableName>spindleTwoThroughOff</VariableName></Property></Properties><Script>
          spindleIndex = 1&#xD;
          spindleExists = array.size(vmid.spindles) &gt; spindleIndex&#xD;
          if spindleExists&#xD;
          ui_name = vmid.spindles[spindleIndex].name&#xD;
          visible = true&#xD;
          else&#xD;
          visible = false&#xD;
          end&#xD;
        </Script><SystemId i:nil="true"/></PropertyGroup></PropertyGroups><Script>
      &#xD;
      visible = true
    </Script><SystemId i:nil="true"/></Page><Page><IconId>3</IconId><Name>Drill Cycles</Name><Namespace>usr</Namespace><PropertyGroups><PropertyGroup><Name>Milling</Name><Namespace>usr</Namespace><Properties><Property><IconId>0</IconId><Name>G81</Name><Namespace>usr</Namespace><Script>default_value = true&#xD;
tooltip = ""&#xD;
bottom_separator = false&#xD;
visible = true</Script><SystemId i:nil="true"/><Type>BOOL</Type><VariableName>b_DC_G81</VariableName></Property><Property><IconId>0</IconId><Name>G82</Name><Namespace>usr</Namespace><Script>default_value = true&#xD;
tooltip = ""&#xD;
bottom_separator = false&#xD;
visible = true</Script><SystemId i:nil="true"/><Type>BOOL</Type><VariableName>b_DC_G82</VariableName></Property><Property><IconId>0</IconId><Name>G83</Name><Namespace>usr</Namespace><Script>default_value = true&#xD;
tooltip = ""&#xD;
bottom_separator = false&#xD;
visible = true</Script><SystemId i:nil="true"/><Type>BOOL</Type><VariableName>b_DC_G83</VariableName></Property><Property><IconId>0</IconId><Name>G84/G74</Name><Namespace>usr</Namespace><Script>default_value = true&#xD;
tooltip = ""&#xD;
bottom_separator = false&#xD;
visible = true</Script><SystemId i:nil="true"/><Type>BOOL</Type><VariableName>b_DC_G84</VariableName></Property><Property><IconId>0</IconId><Name>G85</Name><Namespace>usr</Namespace><Script>default_value = true&#xD;
tooltip = ""&#xD;
bottom_separator = false&#xD;
visible = true</Script><SystemId i:nil="true"/><Type>BOOL</Type><VariableName>b_DC_G85</VariableName></Property><Property><IconId>0</IconId><Name>G86</Name><Namespace>usr</Namespace><Script>default_value = true&#xD;
tooltip = ""&#xD;
bottom_separator = false&#xD;
visible = true</Script><SystemId i:nil="true"/><Type>BOOL</Type><VariableName>b_DC_G86</VariableName></Property><Property><IconId>0</IconId><Name>G87</Name><Namespace>usr</Namespace><Script>default_value = true&#xD;
tooltip = ""&#xD;
bottom_separator = false&#xD;
visible = true</Script><SystemId i:nil="true"/><Type>BOOL</Type><VariableName>b_DC_G87</VariableName></Property><Property><IconId>0</IconId><Name>G88</Name><Namespace>usr</Namespace><Script>default_value = true&#xD;
tooltip = ""&#xD;
bottom_separator = false&#xD;
visible = true</Script><SystemId i:nil="true"/><Type>BOOL</Type><VariableName>b_DC_G88</VariableName></Property><Property><IconId>0</IconId><Name>G89</Name><Namespace>usr</Namespace><Script>default_value = true&#xD;
tooltip = ""&#xD;
bottom_separator = false&#xD;
visible = true</Script><SystemId i:nil="true"/><Type>BOOL</Type><VariableName>b_DC_G89</VariableName></Property><Property><IconId>0</IconId><Name>G73</Name><Namespace>usr</Namespace><Script>default_value = true&#xD;
tooltip = ""&#xD;
bottom_separator = true&#xD;
visible = true</Script><SystemId i:nil="true"/><Type>BOOL</Type><VariableName>b_DC_G73</VariableName></Property><Property><IconId>0</IconId><Name>Tapping with M29 bevor G84</Name><Namespace>usr</Namespace><Script>default_value = false&#xD;
tooltip = "true = Tapping with M29 bevor G84"&#xD;
bottom_separator = false&#xD;
visible = usr.b_DC_G84
        </Script><SystemId i:nil="true"/><Type>BOOL</Type><VariableName>b_TappingWithM29</VariableName></Property><Property><IconId>0</IconId><Name>Tapping with G95</Name><Namespace>usr</Namespace><Script>default_value = false&#xD;
tooltip = "true = Tapping with G95/pitch, false = with feed"&#xD;
bottom_separator = false&#xD;
visible = usr.b_DC_G84
        </Script><SystemId i:nil="true"/><Type>BOOL</Type><VariableName>b_TappingWithG95</VariableName></Property></Properties><Script>&#xD;
visible = true&#xD;
ui_name = "DC milling"</Script><SystemId i:nil="true"/></PropertyGroup><PropertyGroup><Name>Turning</Name><Namespace>usr</Namespace><Properties><Property><IconId>0</IconId><Name>G81</Name><Namespace>usr</Namespace><Script>default_value = true&#xD;
tooltip = ""&#xD;
bottom_separator = false&#xD;
visible = true</Script><SystemId i:nil="true"/><Type>BOOL</Type><VariableName>b_tG81</VariableName></Property></Properties><Script>&#xD;
visible = true&#xD;
ui_name = "Turning"</Script><SystemId i:nil="true"/></PropertyGroup></PropertyGroups><Script>&#xD;
visible = true</Script><SystemId i:nil="true"/></Page></Pages></DialogConfiguration>